In [18]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
pd.set_option('display.max_row',None)
pd.set_option('display.expand_frame_repr',False)
pd.set_option('display.max_colwidth',None)

In [20]:
deliveries = pd.read_csv('deliveries.csv')

In [21]:
deliveries.head(1)

   match_id  inning           batting_team                 bowling_team  over  ball     batsman   bowler  non_striker  runs_of_bat  extra_runs  total_runs extras_type  is_wicket player_dismissed dismissal_kind fielder
0    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0     1  SC Ganguly  P Kumar  BB McCullum            0           1           1     legbyes          0              NaN            NaN     NaN

In [24]:
import pandas as pd

# Load the CSV file
file_path = "deliveries.csv"
data = pd.read_csv(file_path)

# Exclude rows where match_id is within the specified range
filtered_ballbyball = data[(data['match_id'] < 335982) | (data['match_id'] > 1312200)]

# Save the remaining data to a new CSV file
filtered_ballbyball.to_csv("remaining_ballbyball.csv", index=False)

print("Rows with match_id in the range 335982 to 1312200 have been deleted. remaining data saved to 'remaining_ballbyball.csv'.")

Rows with match_id in the range 335982 to 1312200 have been deleted. remaining data saved to 'remaining_ballbyball.csv'.

In [32]:
filtered_ballbyball.tail()

        match_id  inning           batting_team         bowling_team  over  ball  batsman         bowler non_striker  runs_of_bat  extra_runs  total_runs extras_type  is_wicket player_dismissed dismissal_kind fielder
260915   1426312       2  Kolkata Knight Riders  Sunrisers Hyderabad     9     5  SS Iyer     AK Markram     VR Iyer            1           0           1         NaN          0              NaN            NaN     NaN
260916   1426312       2  Kolkata Knight Riders  Sunrisers Hyderabad     9     6  VR Iyer     AK Markram     SS Iyer            1           0           1         NaN          0              NaN            NaN     NaN
260917   1426312       2  Kolkata Knight Riders  Sunrisers Hyderabad    10     1  VR Iyer  Shahbaz Ahmed     SS Iyer            1           0           1         NaN          0              NaN            NaN     NaN
260918   1426312       2  Kolkata Knight Riders  Sunrisers Hyderabad    10     2  SS Iyer  Shahbaz Ahmed     VR Iyer            1           0           1         NaN          0              NaN            NaN     NaN
260919   1426312       2  Kolkata Knight Riders  Sunrisers Hyderabad    10     3  VR Iyer  Shahbaz Ahmed     SS Iyer            1           0           1         NaN          0              NaN            NaN     NaN